<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="slabko.vladislav.slabkovladlauncher">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic1"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:stateNotNeeded="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".AsyncTasks.DeleteControlReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

        <activity android:name=".PreStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".AppListActivity" />
        <activity android:name=".AppListActivity" >
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".AppListActivity">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4d7044e9cdc9ed2245c97884107309507d6b7f12" />
    </application>

</manifest>